.single-article{
  display: block;
}
.wrapper{
  padding-top: 140px;
  margin: 0 25% 0 25%;
  .single-article-subheader{
    text-align: center;
  }
  h1{
    text-align: center;
    margin-bottom: 25px;
  }
  h4{
    margin-top: 35px;
    margin-bottom: 25px;
  }
}
