.about{
  display: block;

  .profile-section{
    padding: 140px 0px 0px 0px;

    .surround{
      padding: 0 25% 0 25%;
      margin-bottom: 30px;

      .border{
        border-bottom: 1px solid #eee;

        h4{
          padding-bottom: 20px;
        }
      }
    }
  }
}
.about-link{
  color:rgba(11,18,29,.7);
}
#profile{
  height: 100px;
  width: 100px;
  padding: 0px;
}
#love{
  color:#EB298B;
}
.listing{
  padding: 0 25% 0 25%;
}
.me{
  display: inline-flex;
  margin-bottom: 20px;

  .type{
    height:80px;
    width: 80px;

  }
}
.me h4{
  font-weight: bold;
}
.round{
  height: 80px;
  width: 80px;
  margin-right: 32px;
}
