<header class="menu">
  <div class="contain">
    <nav>
      <img class="logo" ui-sref ="main" ng-src="/assets/images/yeoman.png"/>
      <ul>
        <li>
          <a class="landing_alink" title="View Articles" ui-sref-active="active" ui-sref="articles">Articles</a>
        </li>
        <li>
          <a class="landing_alink" title="View Articles" ui-sref-active="active" ui-sref="articles">Tags</a>
        </li>
        <li>
          <a class="landing_alink" title="View Articles" ui-sref-active="active" ui-sref="about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="blog cover" id="top">
  <div class="container">
    <h1>Blog</h1>
    <p>The place where I share my thoughts about design, code, freelancing and life.</p>
  </div>
</div>
<section>
  <div class="container box animated slideInUp">
    <article ng-repeat="article in articles">
      <header>
        <div class="row">
          <h1 id="title">{{article.title}}</h1>
        </div>
        <div class="row subheader">
          <span>
            <p class="info" id="one_info">{{article.author}} &nbsp; | &nbsp; {{article.date}}</p>
            <div id="tags">
              <i class="fa fa-tags"></i>
              <div class="single_tag" ng-repeat="tag in article.tags">
                <p>{{tag}}&nbsp;</p>
              </div>
            </div>
          </span>
        </div>
      </header>
      <div class="post">
        <div>
          <img class="img-responsive main_post_img" ng-src="/assets/images/haven1.jpg" />
        </div>
        <div>
          <p class="intro top">{{article.intro}}</p>
        </div>
        <div>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref-active="active" ui-sref="article({id:article._id})" class="md-body-1 md-primary">Read More</md-button>
          </md-card-actions>
        </div>
      </div>
    </article>
  </div>
</section>
<footer></footer>
