<navbar></navbar>
<div class="about">
  <article class="container profile-section">
    <div class="container text-center surround" style="margin-top:50px;">
      <form name="searchForm" novalidate>
        <md-input-container md-no-float class="md-block">
          <md-icon class="fa fa-search"></md-icon>
          <input ng-model="searchText" name="search" ng-minlength="1" placeholder="Search" required>
          <div ng-messages="searchForm.name.$error">
            <p ng-message="required">Your name is required.</p>
          </div>
        </md-input-container>
        <md-button ng-click="search(searchForm,searchText)" type="submit">Do it</md-button>
      </form>
    </div>
    <div ng-if="!show" class="container-fluid notshow">
      <div class="row">
        <p>Go on search for something!</p>
      </div>
    </div>
    <div ng-if="show" class="container box animated slideInUp">
      <article ng-repeat="article in list">
        <header>
          <div class="row">
            <h1 id="title">{{article.title}}</h1>
          </div>
          <div class="row subheader">
            <span>
              <p class="info" id="one_info">{{article.author}} &nbsp; | &nbsp; {{article.date}}</p>
              <div id="tags">
                <i class="fa fa-tags"></i>
                <div class="single_tag" ng-repeat="tag in article.tags">
                  <p>{{tag}}&nbsp;</p>
                </div>
              </div>
            </span>
          </div>
        </header>
        <div class="post">
          <div>
            <img class="img-responsive main_post_img" ng-src="/assets/images/lights.jpg" />
          </div>
          <div>
            <h4 class="intro top">{{article.intro}}</h4>
          </div>
          <div>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ui-sref-active="active" ui-sref="article({id:article._id})" class="md-body-1 md-primary">Read More</md-button>
            </md-card-actions>
          </div>
        </div>
      </article>
    </div>
  </article>
</div>
<footer></footer>
